body {
                
    font-family: sans-serif;
    color: aliceblue;
    padding-left: 30px;
}

#shape {
    
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
    
}

.bold {
    
    font-weight: bold;
    
}